* {
    box-sizing: border-box;
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ede2e2;
  }
  
body, .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
.container {
    background-color: #D8A0C2;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
  }
  
/* Settings icon */
.settings-icon {
  position: absolute;
  top: 10rem;
  right: 50rem;
  font-size: 2rem;
  cursor: pointer;
  color: #D8A0C2;
}

/* Settings panel (hidden by default) */
.settings-panel {
  position: absolute;
  top: 12rem;
  right: 42rem;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.settings-panel.hidden {
  display: none;
  flex-direction: column;
  align-items: flex-start;
}


#winscreenToggleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;  /* Add space between toggle and button */
}

#winscreenToggle {
  margin-left: 8px; /* Space between the label and the checkbox */
}

#skipQuoteButton {
  padding: 8px 16px;
  background-color: #D8A0C2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#skipQuoteButton:hover {
  background-color: #b878a1;
}

.timer {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  color: #D8A0C2;
  font-weight: bold;
}

.wpm-display {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  color: #D8A0C2;
  font-weight: bold;
}

.quote-display {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  /* Disable text selection */
  user-select: none;  /* For modern browsers */
  -webkit-user-select: none;  /* For Safari */
  -moz-user-select: none;  /* For Firefox */
  -ms-user-select: none;  /* For IE/Edge */
}

.quote-input {
  background-color: transparent;
  border: 3.5px solid #89677c;
  outline: none;
  width: 100%;
  height: 12rem;
  margin: auto;
  resize: none;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  border-radius: .5rem;
}


.quote-input:focus {
    border-color: #000000;
}

.correct {
    color: #89677c;
  }
  
  .incorrect {
    color: #c72d8c;
    text-decoration: underline;
  }